* {
	box-sizing: border-box;
}

:root {
	/** color **/
	--Lb-color: #dcd7c9;
	--b-color: #a27b5c;
	--lblue-color: #3f4e4f;
	--Dark-color: #2c3639;
	--mint-color: #abc4aa;
	/** font size **/
	--header-text: 40px;
	--description-text: 16px;

}

@font-face {
	font-family: customfont; 
	src: url('../fonts/Chomsky.otf') format('opentype');
}

body {
	background-color: var(--Lb-color);
	font-size: 16px;
	margin: 0;
	padding: 0;
}

section {
	background-color: var(--Lb-color);
	display: inline-flex;
}

.box {
	width: 100%;
	height: 50px;
}
/** HEADER **/
.header {
  position: relative;
  display: flex;
  width: 100%;
  height: 120px;
  background-color: var(--lblue-color);
  box-shadow: 4px 4px 4px #00000040;
}

/**
.header .cart_component {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50px;
  left: 1300px;
  color: var(--Lb-color);
}

.header .search_component {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50px;
  left: 1100px;
  color: var(--Lb-color);
}

.header .profile_component {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50px;
  left: 1200px;
  color: var(--Lb-color);
}
**/
/** Name and logo **/
.header .text-wrapper {
  position: absolute;
  margin-top: 30px;
  left: 40%;
  font-family: customfont;
  color: var(--Lb-color);
  font-size: 40px;
}

.header .div {
  position: absolute;
  margin-top: 30px;
  left: 70%;
  font-family: customfont;
  color: var(--Lb-color);
  font-size: 40px;
}

.header .artboard {
  position: absolute;
  width: 64px;
  height: 64px;
  top: 29px;
  left: 48vw;
}

/** Footer **/
.end-section a {
	color: var(--Dark-color);
}
.end-section {
  position: relative;
  width: 100%;
  height: 35vw;
  background-color: var(--b-color);
}

.end-section .exclude-3 {
  position: absolute;
  width: 66px;
  height: 66px;
  top: 19vw;
  left: 5vw;
  margin: auto;
  background-image: url(../images/1x/twitter.png);
}

.end-section .exclude {
  position: absolute;
  width: 66px;
  height: 66px;
  top: 19vw;
  left: 11vw;
  margin: auto;
  background-image: url(../images/1x/facebook.png);
}

.end-section .exclude-2 {
  position: absolute;
  width: 66px;
  height: 66px;
  top: 19vw;
  left: 17vw;
  margin: auto;
  background-image: url(../images/1x/instagram.png);
}

.end-section .component-2 {
  width: 460px;
  height: 63px;
  top: 347px;
  left: 48px;
  background-color: var(--Lb-color);
  border: 7px solid;
  border-color: var(--lblue-color);
  position: relative;
  border-radius: 10px;
}

.end-section .text-wrapper {
  position: absolute;
  top: 11px;
  left: 15px;
  opacity: 0.5;
  font-family: var(--card-description-font-family);
  font-weight: var(--card-description-font-weight);
  color: #000000;
  font-size: var(--card-description-font-size);
  letter-spacing: var(--card-description-letter-spacing);
  line-height: var(--card-description-line-height);
  white-space: nowrap;
  font-style: var(--card-description-font-style);
}

.end-section .div-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 18px 35px;
  top: -7px;
  left: 324px;
  background-color: var(--greenish-blue);
  overflow: hidden;
  border: 7px solid;
  border-color: var(--light-dark-a);
  position: absolute;
  border-radius: 10px;
}

.end-section .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -7px;
  font-family: var(--card-description-font-family);
  font-weight: var(--card-description-font-weight);
  color: var(--dark-a);
  font-size: var(--card-description-font-size);
  letter-spacing: var(--card-description-letter-spacing);
  line-height: var(--card-description-line-height);
  white-space: nowrap;
  font-style: var(--card-description-font-style);
}

.end-section .text-wrapper-3 {
  position: absolute;
  top: 39px;
  left: 688px;
  font-family: "Roboto-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--dark-a);
  font-size: 34px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
  white-space: nowrap;
}

.end-section .text-wrapper-4 {
  position: absolute;
  top: 39px;
  left: 940px;
  font-family: "Roboto-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--dark-a);
  font-size: 34px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
  white-space: nowrap;
}

.end-section .text-wrapper-5 {
  position: absolute;
  top: 39px;
  left: 1200px;
  font-family: "Roboto-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--dark-a);
  font-size: 34px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
  white-space: nowrap;
}

.end-section .text-wrapper-6 {
  position: absolute;
  top: 101px;
  left: 688px;
  font-family: var(--description-text-font-family);
  font-weight: 400;
  color: var(--dark-a);
  font-size: 20px;
  letter-spacing: var(--description-text-letter-spacing);
  line-height: var(--description-text-line-height);
  white-space: nowrap;
  font-style: var(--description-text-font-style);
}

.end-section .text-wrapper-7 {
  position: absolute;
  top: 158px;
  left: 688px;
  font-family: var(--description-text-font-family);
  font-weight: 400;
  color: var(--dark-a);
  font-size: 20px;
  letter-spacing: var(--description-text-letter-spacing);
  line-height: var(--description-text-line-height);
  white-space: nowrap;
  font-style: var(--description-text-font-style);
}

.end-section .text-wrapper-8 {
  position: absolute;
  top: 215px;
  left: 688px;
  font-family: var(--description-text-font-family);
  font-weight: 400;
  color: var(--dark-a);
  font-size: 20px;
  letter-spacing: var(--description-text-letter-spacing);
  line-height: var(--description-text-line-height);
  white-space: nowrap;
  font-style: var(--description-text-font-style);
}

.end-section .text-wrapper-9 {
  position: absolute;
  top: 101px;
  left: 940px;
  font-family: var(--description-text-font-family);
  font-weight: 400;
  color: var(--dark-a);
  font-size: 20px;
  letter-spacing: var(--description-text-letter-spacing);
  line-height: var(--description-text-line-height);
  white-space: nowrap;
  font-style: var(--description-text-font-style);
}

.end-section .text-wrapper-10 {
  position: absolute;
  top: 158px;
  left: 940px;
  font-family: var(--description-text-font-family);
  font-weight: 400;
  color: var(--dark-a);
  font-size: 20px;
  letter-spacing: var(--description-text-letter-spacing);
  line-height: var(--description-text-line-height);
  white-space: nowrap;
  font-style: var(--description-text-font-style);
}

.end-section .text-wrapper-11 {
  position: absolute;
  top: 215px;
  left: 940px;
  font-family: var(--description-text-font-family);
  font-weight: 400;
  color: var(--dark-a);
  font-size: 20px;
  letter-spacing: var(--description-text-letter-spacing);
  line-height: var(--description-text-line-height);
  white-space: nowrap;
  font-style: var(--description-text-font-style);
}

.end-section .text-wrapper-12 {
  position: absolute;
  top: 101px;
  left: 1200px;
  font-family: var(--description-text-font-family);
  font-weight: 400;
  color: var(--dark-a);
  font-size: 20px;
  letter-spacing: var(--description-text-letter-spacing);
  line-height: var(--description-text-line-height);
  white-space: nowrap;
  font-style: var(--description-text-font-style);
}

.end-section .text-wrapper-13 {
  position: absolute;
  top: 158px;
  left: 1200px;
  font-family: var(--description-text-font-family);
  font-weight: 400;
  color: var(--dark-a);
  font-size: 20px;
  letter-spacing: var(--description-text-letter-spacing);
  line-height: var(--description-text-line-height);
  white-space: nowrap;
  font-style: var(--description-text-font-style);
}

.end-section .text-wrapper-14 {
  position: absolute;
  top: 215px;
  left: 1200px;
  font-family: var(--description-text-font-family);
  font-weight: 400;
  color: var(--dark-a);
  font-size: 20px;
  letter-spacing: var(--description-text-letter-spacing);
  line-height: var(--description-text-line-height);
  white-space: nowrap;
  font-style: var(--description-text-font-style);
}

.end-section .p {
  position: absolute;
  top: 32vw;
  left: 25vw;
  color: var(--dark-a);
  font-size: var(--description-text);
}

.end-section .artboard {
  position: absolute;
  width: 15vw;
  height: 15vw;
  top: 10px;
  left: 20px;
}
@media (max-width: 479px) {
	:root {
		--header-text: 30px;
		--description-text: 10px;
	}
	.text-wrapper-3, .text-wrapper-4, .text-wrapper-5, .text-wrapper-6,
	.text-wrapper-7, .text-wrapper-8, .text-wrapper-9, .text-wrapper-10,
	.text-wrapper-11, .text-wrapper-12, .text-wrapper-13, .text-wrapper-14  {
		display: none;
	}
	.header .artboard {
		left: 35vw;
	}
	.header .artboard {
		left: 42vw;
	}
	/* end */
	.end-section .p{
		top: 28vw;
		left: 18px;
	}
	.end-section .artboard {
		width: 64px;
		height: 64px;
	}
	.end-section .exclude {
		width: 20px;
		height: 20px;
		background-size: cover;
	}
	.end-section .exclude-2 {
		width: 20px;
		height: 20px;
		background-size: cover;
	}
	.end-section .exclude-3 {
		width: 20px;
		height: 20px;
		background-size: cover;
	}
	.div, .text-wrapper, /*delete->*/.component-2 {
		display: none;
	}
  .mobile_none{
    display: none;
  }
}